.footer {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 92px 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 88px 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    line-height: 1;
    margin: 64px 0 auto;
  }
}
