.intro {
  margin: 0 auto;
  padding: 46px 0 0;
  max-width: 984px;
}

.intro__title {
  color: #ffffff;
  font-family: "Inter Black", sans-serif;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 0 40px;
  max-width: 830px;
}

.intro__subtitle {
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 24px;
  line-height: 1.41;
  max-width: 738px;
  margin: 40px 0 auto;
}

.intro__sign {
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 24px;
  line-height: 1.41;
  max-width: 738px;
  text-align: right;
  margin: 10px 0 auto;
}

.intro__text {
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  max-width: 722px;
  margin: 32px 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 44px 24px 0;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.08;
  }

  .intro__subtitle {
    margin: 50px 0 auto;
  }

  .intro__sign {
    margin: 10px 0 auto;
  }

  .intro__text {
    margin: 32px 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    padding: 64px 16px 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__subtitle {
    font-size: 24px;
    line-height: 1.41;
    margin: 40px 0 auto;
  }
}
