.places {
  margin: 0 auto;
  padding: 0 24px 90px;
  max-width: 984px;
  display: -ms-grid;
  display: grid;
  row-gap: 80px;
}

.places__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title artists"
    "image paragraph"
    "button paragraph"
    ". paragraph";
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.places__item_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #ffffff;
  font-family: "Inter Black", sans-serif;
  font-size: 72px;
  margin: 0;
  padding-bottom: 48px;
  grid-area: title;
}

.places__item_image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  max-width: 100%;
  max-height: 460px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-area: image;
  margin: 0;
}

.places__item_image:hover {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.places__item_button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  width: 356px;
  padding: 13px 0;
  color: #ffffff;
  font-family: "Inter Semibold", sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0278fe),
    color-stop(99.98%, #003a7b)
  );
  background-image: -o-linear-gradient(left, #0278fe 0%, #003a7b 99.98%);
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: none;
  grid-area: button;
  margin-top: 48px;
}

.places__item_button:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(2, 120, 254, 0.25)),
    color-stop(99.98%, rgba(0, 58, 123, 0.25))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  background-image: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__item_artists {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: artists;
  -ms-flex-line-pack: end;
  align-content: end;
  padding-bottom: 48px;
}

.places__item_artists-header {
  color: #aaaaaa;
  font-family: "Inter Regular", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 8px;
}

.places__item_artists-name {
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 4px;
}

.places__item_paragraph {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  max-width: 484px;
  line-height: 1.63;
  grid-area: paragraph;
}

.places__item_paragraph-with-margin {
  margin: 0 auto 25px;
}

.places__item_paragraph-without-margin {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    row-gap: 72px;
  }
  .places__item {
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
  }
  .places__item_title {
    font-size: 42px;
  }
  .places__item_image {
    max-width: 340px;
    max-height: 340px;
  }
  .places__item_paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    padding: 0 0 65px;
  }
  .places__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "paragraph"
      "button";
  }
  .places__item_title {
    font-size: 32px;
    padding: 0 16px 30px;
  }
  .places__item_artists {
    padding: 0 16px 30px;
  }
  .places__item_image {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .places__item_paragraph {
    padding: 30px 16px 0;
  }
  .places__item_button {
    font-size: 14px;
    width: 288px;
    margin: 30px 16px 0;
  }
  .places__item_title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .places__item_image {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .places__item_button {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .places__item_artists {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .places__item_paragraph {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
}
