.places {
  margin: 0 auto;
  padding: 0 0 90px;
  max-width: 984px;
}

.places__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title artists"
    "image paragraph"
    "button paragraph"
    ". paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

.places__item_title {
  color: #ffffff;
  font-family: "Inter Black", sans-serif;
  font-size: 72px;
  margin: 0;
  grid-area: title;
}

.places__item_image {
  max-width: 460px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-area: image;
}

.places__item_button {
  width: 356px;
  padding: 13px 20px;
  color: #ffffff;
  font-family: "Inter Semibold", sans-serif;
  font-size: 18px;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: none;
  grid-area: button;
}

.places__item_artists {
  grid-area: artists;
  align-content: end;
}

.places__item_artists_header {
  color: #aaaaaa;
  font-family: "Inter Regular", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 8px;
}

.places__item_artists_name {
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 4px;
}

.places__item_paragraph {
  color: #ffffff;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  max-width: 484px;
  line-height: 163%;
  grid-area: paragraph;
}
